<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
    name="jdbc/provider"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="com.mysql.jdbc.Driver"
    maxActive="100"
    maxIdle="30"
    maxWait="-1"
    defaultAutoCommit="false"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    username="root"
    password="password"
    url="jdbc:mysql://localhost:3306/provider"/>

</Context>